{% extends 'layouts/base.html' %} {% block title %} contacto {%endblock%} {% block content %}

<form action="{{ url_for ('contacto') }}" method="POST">
    <div>
        <label for="nombres">nombres</label>
        <input type="text" id="nombres" name="nombres">
    </div>
    <div>
        <label for="email">email</label>
        <input type="email" id="email" name="email">
    </div>
    <div>
        <label for="celular">celular</label>
        <input type="celular" id="celular" name="celular">
    </div>
    <div>
        <label for="observacion">observacion</label>
        <textarea id="observacion" name="observacion">
        </textarea>
        <div>
            <button type="submit">guardar submit </button>
        </div>
    </div>
</form>
{% endblock%}